<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container">
        <h1 class="text-center">The Tech Blog</h1>
        <div class="justify-content-center text-center">
          <a class="m-3" href="/">Home</a>
          <a class="m-3" href="/dashboard">Dashboard</a>
          {{#if logged_in}}
            <button class="loginBtn m-1" id="logout">Logout</button>
          {{else}}
            <a class="m-3" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
    </nav>
  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
